Repository dock108/mes-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-print, check-no-todos

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: requirements-txt-fixer

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: ['--line-length=100']

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile=black', '--line-length=100']

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests', 'types-PyYAML']

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-r', 'app/', '-f', 'json', '-o', 'bandit-report.json', '--skip', 'B101']

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        args: ['-vv', '--fail-under=50']

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml, json]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  # Custom local hooks
  - repo: local
    hooks:
      - id: check-no-print
        name: Check for print statements
        entry: '\bprint\('
        language: pygrep
        types: [python]
        exclude: '^(tests/|scripts/)'
      
      - id: check-no-todos
        name: Check for TODO comments
        entry: '(TODO|FIXME|XXX)'
        language: pygrep
        types: [python]
        pass_filenames: false
      
      - id: pytest-check
        name: Run pytest
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true
        args: ['tests/', '-x', '--tb=short', '-q']

# Configuration
default_language_version:
  python: python3.11

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
    
    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [pytest-check]  # Skip tests in CI to avoid double-running

fix: Use always() with hashFiles() for job-level conditionals
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix: Add missing expression wrapper for hashFiles conditionals
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

feat: Simplify GitHub Actions workflows
  lotto_grid_bot/.github/workflows/ci.yml
  lotto_grid_bot/.github/workflows/release.yml
Due: none

temp: Add placeholder files to enable deletion
  lotto_grid_bot/.github/workflows/codeql.yml
  lotto_grid_bot/.github/workflows/security.yml
  lotto_grid_bot/.github/workflows/uat-tests.yml
  lotto_grid_bot/data/lotto_grid.db
Due: none

fix: Remove problematic workflow files with hashFiles() validation errors
  lotto_grid_bot/.github/workflows/codeql.yml
  lotto_grid_bot/.github/workflows/security.yml
  lotto_grid_bot/.github/workflows/uat-tests.yml
Due: none

fix: Clean up repository structure and fix workflow validation errors
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  .github/workflows/uat-tests.yml
  lotto_grid_bot/.github/workflows/ci.yml
  lotto_grid_bot/.github/workflows/release.yml
  lotto_grid_bot/data/lotto_grid.db
Due: none

fix: Add requirements.txt and fix database configuration
  requirements.txt
Due: none

fix: Add missing test dependencies for CI
  requirements.txt
Due: none

fix: Update CI to test Python 3.11 and 3.12 only
  .github/workflows/ci.yml
Due: none

fix: Resolve CI test failures and exclude UAT tests
  .github/workflows/ci.yml
  app/feature_pipeline.py
  models/entry_model_random_forest_20250713.joblib
  models/entry_model_random_forest_20250714.joblib
  models/exit_model_random_forest_20250713.joblib
  models/exit_model_random_forest_20250714.joblib
  models/strike_model_random_forest_20250713.joblib
  tests/uat/README.md
Due: check-no-print, check-no-todos

fix: Resolve remaining test failures in CI
  app/backtester.py
  app/feature_pipeline.py
  tests/test_feature_pipeline.py
  tests/test_performance_load.py
  tests/test_uat_ml_dashboard.py
Due: check-no-print, check-no-todos

feat: Configure test coverage and document testing strategy
  .coveragerc
  .github/workflows/ci.yml
  TESTING.md
Due: none

fix: resolve failing test issues for CI pipeline
  tests/test_feature_pipeline.py
  tests/test_uat_ml_dashboard.py
Due: check-no-todos

fix: resolve pipeline test fixture unpacking errors
  tests/test_feature_pipeline.py
Due: check-no-todos

fix: adjust ML model prediction performance thresholds for Python 3.12
  tests/test_performance_load.py
Due: check-no-todos

fix: resolve final test failures and achieve green CI
  app/__init__.py
  app/backtester.py
  app/bot.py
  app/config.py
  app/decision_engine.py
  app/enhanced_strategy.py
  app/feature_pipeline.py
  app/ib_client.py
  app/market_indicators.py
  app/ml_training.py
  app/models.py
  app/risk_manager.py
  app/strategy.py
  app/ui.py
  test_ui_manually.py
  tests/__init__.py
  tests/test_backtester.py
  tests/test_database_schema.py
  tests/test_decision_engine.py
  tests/test_enhanced_strategy.py
  tests/test_feature_pipeline.py
  tests/test_market_indicators.py
  tests/test_ml_pipeline_e2e.py
  tests/test_ml_training.py
  tests/test_performance_load.py
  tests/test_risk_manager.py
  tests/test_strategy.py
  tests/test_uat_ml_dashboard.py
  tests/uat/__init__.py
  tests/uat/conftest.py
  tests/uat/helpers/__init__.py
  tests/uat/helpers/dashboard_pages.py
  tests/uat/helpers/test_data.py
  tests/uat/test_backtest.py
  tests/uat/test_configuration.py
  tests/uat/test_dashboard_ui.py
  tests/uat/test_live_monitor.py
  tests/uat/test_manual_trading.py
  tests/uat/test_performance.py
  tests/uat/test_trading_controls.py
Due: check-no-print, check-no-todos

fix: apply black and isort formatting to resolve CI linting issues
  .flake8
  .github/workflows/ci.yml
  app/backtester.py
  app/bot.py
  app/config.py
  app/decision_engine.py
  app/enhanced_strategy.py
  app/feature_pipeline.py
  app/ib_client.py
  app/market_indicators.py
  app/ml_training.py
  app/models.py
  app/risk_manager.py
  app/strategy.py
  app/ui.py
  pyproject.toml
  test_ui_manually.py
  tests/test_backtester.py
  tests/test_database_schema.py
  tests/test_decision_engine.py
  tests/test_enhanced_strategy.py
  tests/test_feature_pipeline.py
  tests/test_market_indicators.py
  tests/test_ml_pipeline_e2e.py
  tests/test_ml_training.py
  tests/test_performance_load.py
  tests/test_risk_manager.py
  tests/test_strategy.py
  tests/test_uat_ml_dashboard.py
  tests/uat/conftest.py
  tests/uat/helpers/dashboard_pages.py
  tests/uat/helpers/test_data.py
  tests/uat/test_backtest.py
  tests/uat/test_configuration.py
  tests/uat/test_dashboard_ui.py
  tests/uat/test_live_monitor.py
  tests/uat/test_manual_trading.py
  tests/uat/test_performance.py
  tests/uat/test_trading_controls.py
Due: check-no-print, check-no-todos

fix: resolve CI dependency installation issues
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fix: resolve Docker build and package discovery errors
  Dockerfile
  pyproject.toml
Due: none

fix: resolve flake8 line length issues in backtester.py and ui.py
  app/backtester.py
  app/ui.py
Due: check-no-print, check-no-todos

fix: resolve mypy type checking issues with SQLAlchemy plugin and permissive config
  pyproject.toml
  requirements.txt
Due: none

fix: Resolve Docker build failures and configuration issues
  Dockerfile
Due: none

feat: Add .dockerignore to optimize Docker build context
  .dockerignore
Due: none

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none

feat: Add day-by-day backtesting trace with near-miss analysis
  app/backtester.py
  app/ui.py
Due: check-no-print, check-no-todos

fix: Convert numpy booleans to Python booleans in should_place_trade
  app/backtester.py
  tests/test_backtester.py
Due: check-no-print, check-no-todos

fix: Apply black formatting to resolve CI linting errors
  app/backtester.py
  app/ui.py
Due: check-no-print, check-no-todos

fix: Apply isort to fix import ordering in backtester.py
  app/backtester.py
Due: check-no-print, check-no-todos

fix: Break long lines to comply with flake8 E501 120-character limit
  app/backtester.py
  app/ui.py
Due: check-no-print, check-no-todos

feat: Integrate VIX data provider for enhanced volatility calculations
  .env.example
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  app/backtester.py
  app/data_providers/__init__.py
  app/data_providers/vix_provider.py
  app/enhanced_strategy.py
Due: check-no-print, check-no-todos

fix: Update error handling in VIX data provider integration
  tests/test_backtester_integration.py
  tests/test_config.py
  tests/test_strategy_extended.py
  tests/test_vix_provider.py
Due: check-no-todos

feat: Enhance trading configuration and testing framework
  app/config.py
  tests/conftest.py
  tests/test_backtester_integration.py
  tests/test_config.py
  tests/test_strategy_extended.py
  tests/test_vix_provider.py
Due: check-no-print, check-no-todos

chore: Update configuration and testing structure for improved coverage
  .coveragerc
  .github/workflows/ci.yml
  .gitignore
  app/backtester.py
  tests/test_backtester_edge_cases.py
  tests/test_backtester_integration.py
  tests/test_config.py
  tests/test_config_extended.py
  tests/test_strategy_error_handling.py
  tests/test_strategy_extended.py
Due: check-no-print, check-no-todos

fix: Refactor code for improved readability and consistency
  app/backtester.py
  app/data_providers/__init__.py
  tests/conftest.py
  tests/test_backtester_edge_cases.py
  tests/test_backtester_integration.py
  tests/test_config.py
  tests/test_config_extended.py
  tests/test_strategy_error_handling.py
  tests/test_strategy_extended.py
  tests/test_vix_provider.py
Due: check-no-print, check-no-todos

fix: Resolve isort import sorting issues and setup simplified pre-commit hooks
  .coveragerc
  .dockerignore
  .env.example
  .flake8
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  CI_CD_SETUP.md
  Dockerfile
  Makefile
  README.md
  README_UAT.md
  TESTING.md
  TEST_EXECUTION_REPORT.md
  USER_GUIDE.md
  app/feature_pipeline.py
  deploy/setup-ubuntu.sh
  deploy/systemd/lotto-grid-bot.service
  docker-compose.yml
  pyproject.toml
  pytest-uat.ini
  pytest.ini
  requirements.txt
  scripts/run_uat_tests.sh
  tests/conftest.py
  tests/test_backtester_edge_cases.py
  tests/test_backtester_integration.py
  tests/test_config.py
  tests/test_config_extended.py
  tests/test_feature_pipeline.py
  tests/test_ml_pipeline_e2e.py
  tests/test_strategy_error_handling.py
  tests/test_strategy_extended.py
  tests/test_vix_provider.py
  tests/uat/README.md
  tests/uat/conftest.py
Due: check-no-print, check-no-todos

Potential fix for code scanning alert no. 127: Incomplete URL substring sanitization
  tests/test_vix_provider.py
Due: check-no-todos

fix: Correct import order in tests/test_vix_provider.py for isort compliance
  tests/test_vix_provider.py
Due: check-no-todos

fix: Add missing types-requests to requirements.txt for CI mypy
  requirements.txt
Due: none

Add *.ignore.* pattern to gitignore for personal task files
  .gitignore
Due: none

feat: Implement contract management features for MES trading
  .env.example
  app/config.py
  app/ib_client.py
  tests/test_contract_rollover.py
  tests/test_enhanced_strategy.py
  tests/test_ml_pipeline_e2e.py
  tests/test_strategy.py
Due: check-no-print, check-no-todos
